* {
  color: #666;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  margin-top: -80px
}

.transparento {
  margin: 30px;
  background-color:rgba(255,255,255,.85);
  border-radius: 5px;
  max-width: 700px;
}

.transparento2 {
  margin: 30px;
  background-color:rgba(255,255,255,.7);
  border-radius: 5px;
}
.transparento p {
  padding: 5px;
}

#move_h1{
  text-align: center;
  background-color:rgba(255,105,0,.5)
}

#move_h1>h1{
  color: #fff;
}

.boxbox {
  padding: 20px 20px 50px 20px;
  margin-left: auto ;
  margin-right: auto ;
}

.boxboxbox {
  padding: 20px 20px 20px 20px;
  margin-left: auto ;
  margin-right: auto ;
}

.midbox {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  opacity: 0.8;
}

.venuebox {
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 20px;
}

.guestbox {
  text-align: left;
  padding-left: 170px;
  padding-right: 170px;
  font-size: 20px;
}



#jumbo {
  background: rgba(5, 6, 10, 0.3);
}

.nav>li>a {
  color: #5cb85c;
}

.nav>li>a:focus, .nav>li>a:hover{
  color: #449d44;
  background-color:rgba(255,255,255,.6);
}

.nav-pills>li.active>a {
  color: #fff;
  background-color: #21B274;;
  border-color: #4cae4c;
}

.nav-pills>li.active>a:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}



.stay-right{
  float:right;
  position: relative;
}

.size-up{
  width: 57px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#confirmation_button {
  width: 100px;
}
.jumbotron{
  position: relative;
}

.bot-right {
  float:right;
}

.stay-bot {
  position: relative;
  bottom: -15px;
  width: 120px;
}

.divdiv{
  width: 200px;
  height: 400px;
  background-color:rgba(150,150,150,.2);
  display: inline-block;
  position: absolute;
  top: 150px;
}

.divdiv2{
  width: 200px;
  height: 400px;
  display: inline-block;
  background-color:rgba(150,150,150,.2);
  position: absolute;
  top: 150px;
  left: 250px;
}

.divdiv3{
  width: 200px;
  height: 400px;
  background-color:rgba(150,150,150,.2);
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 480px;
}

.relative{
  position: relative;
  height: 570px;
}

.text-mid {
  text-align: center;
}

.text-left{
  text-align: left;
  padding-left: 25px;
  padding-top: 5px;
  font-size: 16px;
}

.indent_if_newline {
  list-style-position: outside;
}



.subtitle {
  font-size: 50;
  color: #606060;
}

.btn-success{
  background-color: #21B274;
}

.btn-warning{
  background-color: #F25D36;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning{
  background-color: #E72549;
  border-color: #E72549;
}
