  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
    <li role="presentation" class ="<%= active_page('/') %>"><a href="/">Home</a></li>
    <li role="presentation" class ="active"><a href="/events/new">Make Event</a></li>
    <li role="presentation" class ="<%= active_page('/events/details') %>"><a href="/events/<%= session[:event_id] %>">Event Status</a></li>
      </ul>
    </nav>
    <a href="/"><img src="/images/rallytally.png" width="20%" height="20%"></a>
    <br>
  </div>

<!-- Hardcoded Nav-Bar above -->

  
<div class="jumbotron transparento boxboxbox">
  <div id='move_h1'><br><h1>That's it!</h1><br><hr></div>
  <h2 align="center">Invites have been sent out!<br>Votes will be tallied.</h2><br>
  <a class="btn btn-lg btn-success btn-block" href="/events/<%= @event.id %>"> Event Details </a>
</div>
