<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="#">Make Event</a></li>
    <li role="presentation"><a href="/events/details">Event Status</a></li>
    <li role="presentation"><a href="/logout">Log Out</a></li>
  </ul>
</div>

<div class = "container">
    <h2>Guests</h2>

    <% if @guests != nil %>
      <% @guests.each do |guest| %>
        <div>
        <em><%= guest.name %>:</em> <%= guest.phone %>
        </div>
      <% end %>
    <% end %>


    <form method="post" action="/events/guests">
    
    <label for="name" class="sr-only">Guest Name</label>
    
    <input type="text" name="name" value="" class="form-control" placeholder="Name" required autofocus>
    
    <label for="phone" class="sr-only">Guest Number</label>
    
    <input type="text" name="phone" value="" class="form-control" placeholder="Phone Number" required autofocus>
    
    <input type="hidden" name="event_id" value=<%= @event.id %>>

    <input class="btn btn-default" type="submit" value="Add Guest">


    <br>
    <a class="btn btn-lg btn-primary btn-block" href="/events/<%= @event.id %>/confirmation">Finish</a>
</div>
