<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="#">Make Event</a></li>
    <li role="presentation"><a href="/events/details">Event Status</a></li>
    <li role="presentation"><a href="/logout">Log Out</a></li>
  </ul>
</div>

<div class="container">
<!--will use a diff class for form later -->
  <form class="form-signin">
   <!--method="POST" action="/login"-->
    <h2>Add Venues Placeholder</h2>
    <label for="venue1" class="sr-only">Venue 1</label>
    <input type="text" name="venue 1" value="" class="form-control" placeholder="Venue 1" required autofocus>
    <br>
    <label for="venue2" class="sr-only">Venue 2</label>
    <input type="text" name="venue 2" value="" class="form-control" placeholder="Venue 2" required autofocus>
    <br>
    <label for="venue3" class="sr-only">Venue 3</label>
    <input type="text" name="venue 3" value="" class="form-control" placeholder="Venue 3" required autofocus>
    <br>
    <label for="venue4" class="sr-only">Venue 4</label>
    <input type="text" name="venue 4" value="" class="form-control" placeholder="Venue 4" required autofocus>
    <br>
    <a class="btn btn-lg btn-primary btn-block" href="/events/[:event_id]/guests"> Add Venues &#x26; Continue</a>
  </form>
</div>