<div class="page-header">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="#">Make Event</a></li>
    <li role="presentation"><a href="/events/details">Event Status</a></li>
    <li role="presentation"><a href="/logout">Log Out</a></li>
  </ul>
</div>