<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <script src="/javascript/bootstrap.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <script src="/javascript/application.js"></script>

  <link href="/stylesheets/signin.css" rel="stylesheet">


  <link rel="stylesheet" href="/stylesheets/application.css">

  <title></title>
</head>

<body>


<body background="http://i.imgur.com/MSYtz2T.jpg">
<div class="container">



  <%= yield %>

</div>
</body>
</html>
